<!-- Content from header.ejs -->
<%- include("header") %>

<!-- list.ejs content -->
<div class="box" id="heading">
  <h1><%= title %></h1>
</div>

<div class="box">
  <% for( let index = 0; index < list.length; index++ ) { %>
  <div class="item">
    <input type="checkbox" />
    <p><%= list[index] %></p>
  </div>
  <% } %>

  <form class="item" action="/" method="post">
    <input
      type="text"
      name="listItem"
      id="todo"
      placeholder="What are your plans for today"
      autocomplete="off"
    />
    <button type="submit" name="listName" value="<%= title %>">+</button>
  </form>
</div>

<!-- Content from footer.ejs -->
<%- include("footer") %>
